body {
  text-align: center;
  font-size: 20;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: #202020;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #00ccff;
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.jokesButton {
  color: #00ccff;
  padding-bottom: 20px;
}

.jokesButton h2 {
  color: #00ccff;
  padding-top: 20px;
}

.menuJokes {
  margin-top: 30px;
}

.jokes {
  margin: 0px;
  padding: 0px;
}

.menu {
  margin-bottom: 20px;
}

.menuItem {
  margin: 20px;
}

a {
  text-decoration: none;
}
.menu a {
  color: #00ccff;
  margin-right: 20px;
}

a:hover {
  color: violet;
}

a h4:hover {
  color: violet;
}

.artistSearch button {
  margin-left: 10px;
}

.track {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.76);
}

.track-image {
  width: 250px;
  height: 250px;
}

.track:hover {
  color: violet;
}

.track-text {
  background-color: black;
  padding: 5px;
  position: absolute;
  width: 240px;
  bottom: 0px;
}

.track-icon {
  position: absolute;
  bottom: 100px;
  left: 105px;
  background-color: black;
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
}

.music {
  padding: 30px;
}

.ageTeller {
  padding: 30px;
}

.ageStats {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

.shop {
  padding: 30px;
}

.menuActive {
  border-bottom: 3px solid #00ccff;
}

::-webkit-scrollbar {
  width: 10px;
  opacity: 0%;
}

::-webkit-scrollbar-track {
  background-color: #353535;
}

::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: 5px;
  height: 20%;
  border: 2px solid #202020;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00ccff;
}

::-webkit-scrollbar:hover {
  opacity: 100%;
}
